<header id="header" class="header">
  <div class="topbar header__topbar">
    <div class="topbar__top">
      <div class="container">
        <div class="topbar__top-inner">
          <p class="topbar__top-adress">
            г. Звенигород, Сельскохозяйственная улица, д.4
          </p>
          <div class="topbar__top-rights">
            <p class="topbar__top-worktime">Пн-Вс 8:00-22:00</p>
            <a class="topbar__top-tel" target="_blank" href="tel:+74994033194">+7 (499) 403-31-94</a>
          </div>
        </div>
      </div>
    </div>
    <div class="topbar__bottom">
      <div class="container">
        <div class="topbar__bottom-inner">
          <a href="/" class="topbar__bottom-logo-link"><img src="/img/topbar/logo.png" alt="" class="topbar__bottom-logo" /></a>
          <nav class="topbar__bottom-rights">
            <ul class="topbar__bottom-links">
              <li class="topbar__bottom-li">
                <a href="#" class="topbar__bottom-link">Услуги и цены</a>
              </li>
              <li class="topbar__bottom-li">
                <a href="#" class="topbar__bottom-link">Акции</a>
              </li>
              <li class="topbar__bottom-li">
                <a href="#" class="topbar__bottom-link">Фотогалерея</a>
              </li>
              <li class="topbar__bottom-li">
                <a href="#" class="topbar__bottom-link">Отзывы</a>
              </li>
              <li class="topbar__bottom-li">
                <a href="#" class="topbar__bottom-link">О нас</a>
              </li>
              <li class="topbar__bottom-li">
                <a href="#" class="topbar__bottom-link">Как заказать</a>
              </li>
              <li class="topbar__bottom-li">
                <a href="#" class="topbar__bottom-link">Контакты</a>
              </li>
            </ul>
          </nav>
          <div class="topbar__bottom-consult">
            <p class="topbar__bottom-worktime">Пн-Вс 8:00-22:00</p>
            <a class="topbar__bottom-tel" target="_blank" href="tel:+74994033194">+7 (499) 403-31-94</a>
            <button class="topbar__bottom-btn">Получить консультацию</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
